# MacOS files
.DS_Store

# Sublime Text files
hwatch.sublime-project

# VSCode files
.vscode*

# IntelliJ files
.idea

# Rust files
#Cargo.lock
tmp*
.tmp*
.tmp/*
/target/
plugins/*/target/
examples/*/target/
.rustc_info.json

# tmp files
old_*

# package build files
out
rpmbuild/*
hwatch-build-deps-*
