[package]
name = "hwatch"
version = "0.1.4"
authors = ["blacknon <blacknon@orebibou.com>"]
description = "alternative watch command."
license-file = "LICENSE"
help = "help_message"

[dependencies]
chrono = "0.4"
clap = "2.20.3"
difference = "2.0"
nix = "0.11.0"
regex= "1.3.0"
serde = "1.0.104"
serde_derive = "1.0.104"
serde_json = "1.0.44"
itertools = "*"
lazy_static = "=1.3.0"
ncurses = { version = "=5.94.0", features = ["wide"], optional = true } # for MacOS
# ncurses = { version = "=5.99.0", features = ["wide"], optional = true } # for Linux

[features]
default = ["ncurses"]

[package.metadata.deb]
maintainer = "blacknon <blacknon@orebibou.com>"
extended-description = "alternative watch command."
depends = "$auto, libncursesw5"
section = "utility"
priority = "optional"

[package.metadata.rpm.cargo]
buildflags = ["--release"]

[package.metadata.rpm.targets]
hwatch = { path = "/usr/bin/hwatch" }
