[package]
authors = ["blacknon <blacknon@orebibou.com>"]
description = "A modern alternative to the watch command, records the differences in execution results and can check this differences at after."
edition = "2021"
keywords = ["watch", "command", "monitoring"]
license-file = "LICENSE"
name = "hwatch"
opt-level = 3
repository = "https://github.com/blacknon/hwatch"
version = "0.3.6"

[dependencies]
ansi-parser = "0.8.0"
async-std = {version = "1.11"}
chrono = "0.4"
clap = {version = "3.1.18", features = ["cargo"]}
crossbeam-channel = "0.5.4"
crossterm = "0.22"
difference = "2.0"
futures = "0.3.21"
# TODO: ansi-parserのバージョンアップグレードの対応が必要になるので、その対応をしたらバージョンアップが必要.
heapless = "0.6.1"
# heapless = "0.5.6"
regex = "1.3.0"
serde = "1.0.104"
serde_derive = "1.0.104"
serde_json = "1.0.44"
shell-words = "1.1.0"
termwiz = "0.15.0"
tui = {version = "0.18.0", default-features = false, features = ['crossterm']}
