[package]
authors = ["blacknon <blacknon@orebibou.com>"]
description = "alternative watch command."
keywords = ["watch", "command", "monitoring"]
license-file = "LICENSE"
name = "hwatch"
repository = "https://github.com/blacknon/hwatch"
version = "0.2.0"

[dependencies]
ansi-parser = "0.8.0"
ansi4tui = {git = "https://github.com/blacknon/ansi4tui.git", branch = "master", version = "0.2.1"}
chrono = "0.4"
clap = "2.20.3"
crossterm = "0.22"
difference = "2.0"
heapless = "0.5.6"
regex = "1.3.0"
serde = "1.0.104"
serde_derive = "1.0.104"
serde_json = "1.0.44"
similar = "*"
termwiz = "0.15.0"
tui = {version = "0.16", default-features = false, features = ['crossterm']}

[package.metadata.deb]
extended-description = "alternative watch command."
maintainer = "blacknon <blacknon@orebibou.com>"
priority = "optional"
section = "utility"

[package.metadata.rpm.cargo]
buildflags = ["--release"]

[package.metadata.rpm.targets]
hwatch = {path = "/usr/bin/hwatch"}
