[package]
authors = ["blacknon <blacknon@orebibou.com>"]
description = "A modern alternative to the watch command, records the differences in execution results and can check this differences at after."
edition = "2021"
keywords = ["watch", "command", "monitoring"]
license-file = "LICENSE"
name = "hwatch"
repository = "https://github.com/blacknon/hwatch"
version = "0.3.12"

[dependencies]
# TODO: ansi-parserが正式にバージョンアップしたらそちらに切り替える
heapless = "0.6.1"
hwatch-ansi-parser = "0.9.0"

ansi_term = "0.12.1"
async-std = {version = "1.12"}
chrono = "0.4.34"
clap = {version = "4.5.3", features = ["cargo"]}
crossbeam-channel = "0.5.12"
crossterm = "0.27.0"
ctrlc = {version = "3.4.2", features = ["termination"]}
difference = "2.0"
futures = "0.3.30"
question = "0.2.2"
ratatui = {version = "0.26.1", default-features = false, features = ['crossterm', 'unstable-rendered-line-info']}
regex = "1.10.3"
serde = "1.0.197"
serde_derive = "1.0.197"
serde_json = "1.0.114"
shell-words = "1.1.0"
termwiz = "0.22.0"
